* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none !important;
}

body {
    background: url('bg_game.jpg');
    color: #1A1A1A;
    font-family: 'Permanent Marker',sans-serif;
    letter-spacing: 1px;
    background-color: #E9E9E9;
}
#app {
    display: flex;
    align-content: center;
    justify-items: center;
    flex-flow: column nowrap;
}

header, footer, main {
    display: flex; 
    flex-flow: row wrap;
    align-content: center;
    justify-items: center;
    flex-grow: 1;
    height: 150px;
    width: 100%
}

header {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

h1 { align-content: center; justify-items: center; font-size: 60px; line-height: 1; width: 100%; }
h3 { align-content: center; justify-items: center; font-size: 30px; line-height: 1; width: 100%; }

main {
    height: calc(100vh - 300px);
}

.content { padding-bottom: 40px; margin: 0 auto; }

.board { 
    background-color: rgba(255,255,255,0.8);
    border: 1px solid #DDDDDD;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #CFCFCF;
    display: grid;
    grid-template-rows: 140px 180px 140px;
    grid-template-columns: 160px 200px 160px;
    grid-gap: 0;
    height: 100%;
    margin: 0 auto;
    max-width: 600px;
    padding: 40px;
    transition: all 0.3s ease;
}

.board > div:nth-child(n+4):nth-child(-n+6) { 
    border-top: 20px solid #1A1A1A;
    border-bottom: 20px solid #1A1A1A;
}

.board > div:nth-child(3n+2) { 
    border-left: 20px solid #1A1A1A;
    border-right: 20px solid #1A1A1A;  
}

.square {
    align-items: center;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 120px;
    display: flex;
    justify-content: center;
    opacity: 1;
    padding-bottom: 20px;
    transition: opacity 0.3 ease-in-out, visibility 0.3s ease-in-out; 
    visibility: visible;
}

.controls {
    display: grid;
    grid-template-rows: 200px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    margin: 0 auto 40px;
    max-width: 680px;
    padding: 0 40px;
    text-align: center;
    width: 100%;  
}

.cols:first-child,
.cols:last-child {
    font-size: 20px;
    padding: 10px 0 0 0;
}

.score {
    padding-bottom: 5px;
}

.x-score,
.y-score {
    font-size: 30px;
}

.btn {
    background: #1261A0;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 15px;
    width: 200px;
}

.btn:hover { 
    background: #980F20; 
}

.controls a {
    color: #1A1A1A;
    display: block;
    font-family: 'Open Sans',sans-serif;
    padding-bottom: 10px;
    text-decoration: underline;
}

.controls a:hover {
    color: #980F20;
    text-decoration: underline;
}