* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none !important;
}

body {
    font-family: 'Permanent Marker',sans-serif;
    letter-spacing: 1px;
}

header {
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    width: 800px
}

h1 { font-size: 50px; }
h3 { 
    font-size: 24px; 
    font-weight: 400;
}

.game-board {
    padding-bottom: 40px;
}

.board {
 
    background: black ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    height: 100%;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    transition: all 0.3s ease;
    width: 100%;
}

.square {
    align-items: center;
    background: #FFFFFF;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 144px;
    display: flex;
    height: 200px;
    justify-content: center;
    opacity: 1;
    padding-bottom: 20px;
    transition: opacity 0.3 ease-in-out, visibility 0.3s ease-in-out; 
    visibility: visible;
    width: 240px;
}

.box {
    background: #FFFFFF;
    flex: 0;
    height: 200px;
    width: 240px;
}

.upper-controls {
    margin: 0px auto 30px;
    max-width: 800px;
    text-align: center;
    width: 100%;  
}

.current-turn {
    color: #980F20;
    font-size: 24px;
    font-weight: 700;
}

.lower-controls {
    margin: 0 auto;
    max-width: 800px;
    padding-bottom: 60px;
    text-align: center;
    width: 100%;  
}

.btn {
    background: #980F20;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 15px;
    width: 200px;
}

.btn:hover { 
    background: #980F20; 
}

.lower-controls a {
    color: #1A1A1A;
    font-family: 'Open Sans',sans-serif;
    text-decoration: none;
}

.lower-controls a:hover {
    color: #1A1A1A;
    text-decoration: underline;
}

